:root {
    --background-color-light: #f0f0f0;
    --text-color-light: #333;
    --container-bg-light: #fff;
    --button-bg-light: #007bff;
    --button-text-light: #fff;

    --background-color-dark: #333;
    --text-color-dark: #f0f0f0;
    --container-bg-dark: #444;
    --button-bg-dark: #0056b3;
    --button-text-dark: #fff;
}

body {
    font-family: sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

body.light-mode .container {
    background-color: var(--container-bg-light);
}

body.dark-mode .container {
    background-color: var(--container-bg-dark);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#generateBtn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

body.light-mode #generateBtn {
    background-color: var(--button-bg-light);
    color: var(--button-text-light);
}

body.dark-mode #generateBtn {
    background-color: var(--button-bg-dark);
    color: var(--button-text-dark);
}

.lotto-numbers-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.lotto-set {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.lotto-number {
    font-size: 1.2em;
    font-weight: bold;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}